.elementor-8276 .elementor-element.elementor-element-0527297 {
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
}

.elementor-8276 .elementor-element.elementor-element-0527297>.elementor-widget-container {
    margin: 0% 20% 0% 20%;
    padding: 0px 0px 0px 0px;
}

.elementor-8276 .elementor-element.elementor-element-b92b476:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-8276 .elementor-element.elementor-element-b92b476>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8276 .elementor-element.elementor-element-b92b476>.elementor-element-populated,
.elementor-8276 .elementor-element.elementor-element-b92b476>.elementor-element-populated>.elementor-background-overlay,
.elementor-8276 .elementor-element.elementor-element-b92b476>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-8276 .elementor-element.elementor-element-b92b476>.elementor-element-populated {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 30px 30px 30px 30px;
}

.elementor-8276 .elementor-element.elementor-element-b92b476>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8276 .elementor-element.elementor-element-2648bbc.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-8276 .elementor-element.elementor-element-2648bbc.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-8276 .elementor-element.elementor-element-2648bbc.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-8276 .elementor-element.elementor-element-2648bbc .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-8276 .elementor-element.elementor-element-2648bbc .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-8276 .elementor-element.elementor-element-2648bbc .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-8276 .elementor-element.elementor-element-2648bbc .elementor-image-box-title {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-8276 .elementor-element.elementor-element-2648bbc .elementor-image-box-description {
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
}

.elementor-8276 .elementor-element.elementor-element-1841990:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-8276 .elementor-element.elementor-element-1841990>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8276 .elementor-element.elementor-element-1841990>.elementor-element-populated,
.elementor-8276 .elementor-element.elementor-element-1841990>.elementor-element-populated>.elementor-background-overlay,
.elementor-8276 .elementor-element.elementor-element-1841990>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-8276 .elementor-element.elementor-element-1841990>.elementor-element-populated {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 30px 30px 30px 30px;
}

.elementor-8276 .elementor-element.elementor-element-1841990>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8276 .elementor-element.elementor-element-6aec94a.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-8276 .elementor-element.elementor-element-6aec94a.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-8276 .elementor-element.elementor-element-6aec94a.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-8276 .elementor-element.elementor-element-6aec94a .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-8276 .elementor-element.elementor-element-6aec94a .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-8276 .elementor-element.elementor-element-6aec94a .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-8276 .elementor-element.elementor-element-6aec94a .elementor-image-box-title {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-8276 .elementor-element.elementor-element-6aec94a .elementor-image-box-description {
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
}

.elementor-8276 .elementor-element.elementor-element-8139dfe:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-8276 .elementor-element.elementor-element-8139dfe>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8276 .elementor-element.elementor-element-8139dfe>.elementor-element-populated,
.elementor-8276 .elementor-element.elementor-element-8139dfe>.elementor-element-populated>.elementor-background-overlay,
.elementor-8276 .elementor-element.elementor-element-8139dfe>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-8276 .elementor-element.elementor-element-8139dfe>.elementor-element-populated {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 30px 30px 30px 30px;
}

.elementor-8276 .elementor-element.elementor-element-8139dfe>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8276 .elementor-element.elementor-element-e75a261.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-8276 .elementor-element.elementor-element-e75a261.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-8276 .elementor-element.elementor-element-e75a261.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-8276 .elementor-element.elementor-element-e75a261 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-8276 .elementor-element.elementor-element-e75a261 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-8276 .elementor-element.elementor-element-e75a261 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-8276 .elementor-element.elementor-element-e75a261 .elementor-image-box-title {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-8276 .elementor-element.elementor-element-e75a261 .elementor-image-box-description {
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
}

.elementor-8276 .elementor-element.elementor-element-b044fa4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-8276 .elementor-element.elementor-element-b044fa4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8276 .elementor-element.elementor-element-b044fa4>.elementor-element-populated,
.elementor-8276 .elementor-element.elementor-element-b044fa4>.elementor-element-populated>.elementor-background-overlay,
.elementor-8276 .elementor-element.elementor-element-b044fa4>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-8276 .elementor-element.elementor-element-b044fa4>.elementor-element-populated {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 30px 30px 30px 30px;
}

.elementor-8276 .elementor-element.elementor-element-b044fa4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8276 .elementor-element.elementor-element-c3fd748:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-8276 .elementor-element.elementor-element-c3fd748>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8276 .elementor-element.elementor-element-c3fd748>.elementor-element-populated,
.elementor-8276 .elementor-element.elementor-element-c3fd748>.elementor-element-populated>.elementor-background-overlay,
.elementor-8276 .elementor-element.elementor-element-c3fd748>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-8276 .elementor-element.elementor-element-c3fd748>.elementor-element-populated {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 30px 30px 30px 30px;
}

.elementor-8276 .elementor-element.elementor-element-c3fd748>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8276 .elementor-element.elementor-element-360f17e.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-8276 .elementor-element.elementor-element-360f17e.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-8276 .elementor-element.elementor-element-360f17e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-8276 .elementor-element.elementor-element-360f17e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-8276 .elementor-element.elementor-element-360f17e .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-8276 .elementor-element.elementor-element-360f17e .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-8276 .elementor-element.elementor-element-360f17e .elementor-image-box-title {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-8276 .elementor-element.elementor-element-360f17e .elementor-image-box-description {
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
}

.elementor-8276 .elementor-element.elementor-element-b142203:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-8276 .elementor-element.elementor-element-b142203>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8276 .elementor-element.elementor-element-b142203>.elementor-element-populated,
.elementor-8276 .elementor-element.elementor-element-b142203>.elementor-element-populated>.elementor-background-overlay,
.elementor-8276 .elementor-element.elementor-element-b142203>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-8276 .elementor-element.elementor-element-b142203>.elementor-element-populated {
    box-shadow: 0.7px 0px 18px 1px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 30px 30px 30px 30px;
}

.elementor-8276 .elementor-element.elementor-element-b142203>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(max-width:1024px) {
    .elementor-8276 .elementor-element.elementor-element-0527297>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }

    .elementor-8276 .elementor-element.elementor-element-b92b476>.elementor-element-populated {
        margin: 05px 05px 05px 05px;
        --e-column-margin-right: 05px;
        --e-column-margin-left: 05px;
    }

    .elementor-8276 .elementor-element.elementor-element-1841990>.elementor-element-populated {
        margin: 05px 05px 05px 05px;
        --e-column-margin-right: 05px;
        --e-column-margin-left: 05px;
    }

    .elementor-8276 .elementor-element.elementor-element-8139dfe>.elementor-element-populated {
        margin: 05px 05px 05px 05px;
        --e-column-margin-right: 05px;
        --e-column-margin-left: 05px;
    }

    .elementor-8276 .elementor-element.elementor-element-b044fa4>.elementor-element-populated {
        margin: 05px 05px 05px 05px;
        --e-column-margin-right: 05px;
        --e-column-margin-left: 05px;
    }

    .elementor-8276 .elementor-element.elementor-element-c3fd748>.elementor-element-populated {
        margin: 05px 05px 05px 05px;
        --e-column-margin-right: 05px;
        --e-column-margin-left: 05px;
    }

    .elementor-8276 .elementor-element.elementor-element-b142203>.elementor-element-populated {
        margin: 05px 05px 05px 05px;
        --e-column-margin-right: 05px;
        --e-column-margin-left: 05px;
    }
}

@media(max-width:767px) {
    .elementor-8276 .elementor-element.elementor-element-0527297>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }

    .elementor-8276 .elementor-element.elementor-element-b92b476>.elementor-element-populated {
        margin: 10px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8276 .elementor-element.elementor-element-2648bbc .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-8276 .elementor-element.elementor-element-1841990>.elementor-element-populated {
        margin: 10px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8276 .elementor-element.elementor-element-6aec94a .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-8276 .elementor-element.elementor-element-8139dfe>.elementor-element-populated {
        margin: 10px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8276 .elementor-element.elementor-element-e75a261 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-8276 .elementor-element.elementor-element-b044fa4>.elementor-element-populated {
        margin: 10px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8276 .elementor-element.elementor-element-c3fd748>.elementor-element-populated {
        margin: 10px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-8276 .elementor-element.elementor-element-360f17e .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-8276 .elementor-element.elementor-element-b142203>.elementor-element-populated {
        margin: 10px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

/* Start custom CSS for column, class: .elementor-element-b92b476 */
.maincontaine {
    position: relative;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1841990 */
.maincontaine {
    position: relative;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-8139dfe */
.maincontaine {
    position: relative;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b044fa4 */
.maincontaine {
    position: relative;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c3fd748 */
.maincontaine {
    position: relative;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b142203 */
.maincontaine {
    position: relative;
}

/* End custom CSS */