.fa-user {
    font-weight: 100;
}

.menu-item-664 {
    left: 10%;
}






.elementor-item-anchor-contact {
    background: #FFFFFF;
    border-radius: 23.4px;
    color: #000000 !important;
}

.elementor-widget-image {
    text-align: center
}

.elementor-widget-image a {
    display: inline-block
}

.elementor-widget-image a img[src$=".svg"] {
    width: 48px
}

.elementor-widget-image img {
    vertical-align: middle;
    display: inline-block
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: #818a91;
    color: #fff
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
    color: #818a91;
    border: 3px solid;
    background-color: transparent
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
    margin-top: 8px
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
    width: 1em;
    height: 1em
}

.elementor-widget-text-editor .elementor-drop-cap {
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 50px
}

.elementor-widget-text-editor .elementor-drop-cap-letter {
    display: inline-block
}

.e-container.e-container--row .elementor-spacer-inner {
    width: var(--spacer-size)
}

.e-container.e-container--column .elementor-spacer-inner,
.elementor-column .elementor-spacer-inner {
    height: var(--spacer-size)
}

.elementor-star-rating {
    color: #ccd6df;
    font-family: eicons;
    display: inline-block
}

.elementor-star-rating i {
    display: inline-block;
    position: relative;
    font-style: normal;
    cursor: default
}

.elementor-star-rating i:before {
    content: "\e934";
    display: block;
    font-size: inherit;
    font-family: inherit;
    position: absolute;
    overflow: hidden;
    color: #f0ad4e;
    top: 0;
    left: 0
}

.elementor-star-rating .elementor-star-empty:before {
    content: none
}

.elementor-star-rating .elementor-star-1:before {
    width: 10%
}

.elementor-star-rating .elementor-star-2:before {
    width: 20%
}

.elementor-star-rating .elementor-star-3:before {
    width: 30%
}

.elementor-star-rating .elementor-star-4:before {
    width: 40%
}

.elementor-star-rating .elementor-star-5:before {
    width: 50%
}

.elementor-star-rating .elementor-star-6:before {
    width: 60%
}

.elementor-star-rating .elementor-star-7:before {
    width: 70%
}

.elementor-star-rating .elementor-star-8:before {
    width: 80%
}

.elementor-star-rating .elementor-star-9:before {
    width: 90%
}

.elementor-star-rating__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.elementor-star-rating__title {
    margin-right: 10px
}

.elementor-star-rating--align-right .elementor-star-rating__wrapper {
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.elementor-star-rating--align-left .elementor-star-rating__wrapper {
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.elementor-star-rating--align-center .elementor-star-rating__wrapper {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.elementor-star-rating--align-justify .elementor-star-rating__title {
    margin-right: auto
}

@media (max-width:1024px) {
    .elementor-star-rating-tablet--align-right .elementor-star-rating__wrapper {
        text-align: right;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .elementor-star-rating-tablet--align-left .elementor-star-rating__wrapper {
        text-align: left;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .elementor-star-rating-tablet--align-center .elementor-star-rating__wrapper {
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .elementor-star-rating-tablet--align-justify .elementor-star-rating__title {
        margin-right: auto
    }
}

@media (max-width:767px) {
    .elementor-star-rating-mobile--align-right .elementor-star-rating__wrapper {
        text-align: right;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .elementor-star-rating-mobile--align-left .elementor-star-rating__wrapper {
        text-align: left;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .elementor-star-rating-mobile--align-center .elementor-star-rating__wrapper {
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .elementor-star-rating-mobile--align-justify .elementor-star-rating__title {
        margin-right: auto
    }
}

.last-star {
    letter-spacing: 0
}

.elementor--star-style-star_unicode .elementor-star-rating {
    font-family: Arial, Helvetica, sans-serif
}

.elementor--star-style-star_unicode .elementor-star-rating i:not(.elementor-star-empty):before {
    content: "\002605"
}

.elementor-widget-image-carousel .swiper-container {
    position: static
}

.elementor-widget-image-carousel .swiper-container .swiper-slide figure {
    line-height: inherit
}

.elementor-widget-image-carousel .swiper-slide {
    text-align: center
}

.elementor-image-carousel-wrapper:not(.swiper-container-initialized) .swiper-slide {
    max-width: calc(100% / var(--e-image-carousel-slides-to-show, 3))
}

.elementor-widget-image-box .elementor-image-box-content {
    width: 100%
}

.elementor-widget-image-box .elementor-image-box-content-1 {
    width: 100%
}

.elementor-image-box-content-1 {
    margin-left: 50px;
}









@media (min-width:768px) {

    .elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper,
    .elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper {
        text-align: right;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper {
        text-align: left;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .elementor-widget-image-box.elementor-position-top .elementor-image-box-img {
        margin: auto
    }

    .elementor-widget-image-box.elementor-vertical-align-top .elementor-image-box-wrapper {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .elementor-widget-image-box.elementor-vertical-align-middle .elementor-image-box-wrapper {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .elementor-widget-image-box.elementor-vertical-align-bottom .elementor-image-box-wrapper {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
}

@media (max-width:767px) {
    .elementor-widget-image-box .elementor-image-box-img {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 15px
    }
}

.elementor-widget-image-box .elementor-image-box-img {
    display: inline-block
}

.elementor-widget-image-box .elementor-image-box-title a {
    color: inherit
}

.elementor-widget-image-box .elementor-image-box-wrapper {
    text-align: center
}

.elementor-widget-image-box .elementor-image-box-description {
    margin: 0
}

.elementor-221 .elementor-element.elementor-element-f37f1ce:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-221 .elementor-element.elementor-element-f37f1ce>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../../as-dialer-css/asset-1/uploads/2022/10/How-to-reduce-call-center-cost-01-1-scaled.jpg");
}

#post-18942 .elementor-221 .elementor-element.elementor-element-f37f1ce:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
#post-18942 .elementor-221 .elementor-element.elementor-element-f37f1ce>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../../as-dialer-css/asset-1/uploads/2022/10/How-to-reduce-call-center-cost-01-1-scaled.jpg");
}

#post-18913 .elementor-221 .elementor-element.elementor-element-f37f1ce:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
#post-18913 .elementor-221 .elementor-element.elementor-element-f37f1ce>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../../as-dialer-css/asset-1/uploads/2022/09/Call-Center-Performance-01.jpg");
}

#post-18837 .elementor-221 .elementor-element.elementor-element-f37f1ce:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
#post-18837 .elementor-221 .elementor-element.elementor-element-f37f1ce>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../../as-dialer-css/asset-1/uploads/2022/09/MCC.jpg");
}