.elementor-698 .elementor-element.elementor-element-b4938f2 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-698 .elementor-element.elementor-element-eb05307.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-698 .elementor-element.elementor-element-eb05307.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-698 .elementor-element.elementor-element-eb05307.elementor-column>.elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-698 .elementor-element.elementor-element-0e5b8c6 .elementor-heading-title {
	color: #6F6F6F;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.elementor-698 .elementor-element.elementor-element-0e5b8c6 {
	width: auto;
	max-width: auto;
}

.elementor-698 .elementor-element.elementor-element-894dcb1 .elementor-button {
	fill: #6F6F6F;
	color: #6F6F6F;
	background-color: #DEE3E800;

	border-width: 1px 1px 1px 1px;
	padding: 5px 10px 5px 10px;
}

.elementor-698 .elementor-element.elementor-element-894dcb1 .elementor-button:hover,
.elementor-698 .elementor-element.elementor-element-894dcb1 .elementor-button:focus {
	color: #1EBB1B;
	border-color: #1EBB1B;
}

.elementor-698 .elementor-element.elementor-element-894dcb1 .elementor-button:hover svg,
.elementor-698 .elementor-element.elementor-element-894dcb1 .elementor-button:focus svg {
	fill: #1EBB1B;
}

.elementor-698 .elementor-element.elementor-element-894dcb1>.elementor-widget-container {
	margin: 0px 0px 0px 10px;
}

.elementor-698 .elementor-element.elementor-element-894dcb1 {
	width: auto;
	max-width: auto;
}

.elementor-698 .elementor-element.elementor-element-18eed70 .elementor-button {
	fill: #6F6F6F;
	color: #6F6F6F;
	background-color: #DEE3E800;
	border-width: 1px 1px 1px 1px;
	padding: 5px 10px 5px 10px;
}

.elementor-698 .elementor-element.elementor-element-18eed70 .elementor-button:hover,
.elementor-698 .elementor-element.elementor-element-18eed70 .elementor-button:focus {
	color: #1EBB1B;
	border-color: #1EBB1B;
}

.elementor-698 .elementor-element.elementor-element-18eed70 .elementor-button:hover svg,
.elementor-698 .elementor-element.elementor-element-18eed70 .elementor-button:focus svg {
	fill: #1EBB1B;
}

.elementor-698 .elementor-element.elementor-element-18eed70>.elementor-widget-container {
	margin: 0px 0px 0px 10px;
}

.elementor-698 .elementor-element.elementor-element-18eed70 {
	width: auto;
	max-width: auto;
}

.elementor-698 .elementor-element.elementor-element-f98c02e:not(.elementor-motion-effects-element-type-background),
.elementor-698 .elementor-element.elementor-element-f98c02e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFC700;
}

.elementor-698 .elementor-element.elementor-element-f98c02e {
	box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.27) inset;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-698 .elementor-element.elementor-element-f98c02e>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-698 .elementor-element.elementor-element-2e73975 {
	text-align: right;
}

.elementor-698 .elementor-element.elementor-element-2e73975 img {
	width: 100%;
	max-width: 100%;
	height: 40px;
}

.elementor-698 .elementor-element.elementor-element-2e73975>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-698 .elementor-element.elementor-element-c3dca84.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-698 .elementor-element.elementor-element-c3dca84.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-698 .elementor-element.elementor-element-30e91d3 .elementor-menu-toggle {
	margin-left: auto;
}

.elementor-698 .elementor-element.elementor-element-30e91d3 .elementor-nav-menu .elementor-item {
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-698 .elementor-element.elementor-element-30e91d3 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-698 .elementor-element.elementor-element-30e91d3 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: #FFCB04;
}

.elementor-698 .elementor-element.elementor-element-30e91d3 .e--pointer-framed .elementor-item:before,
.elementor-698 .elementor-element.elementor-element-30e91d3 .e--pointer-framed .elementor-item:after {
	border-color: #FFCB04;
}

.elementor-698 .elementor-element.elementor-element-30e91d3 .elementor-nav-menu--main .elementor-item {
	padding-left: 14px;
	padding-right: 14px;
}

.elementor-698 .elementor-element.elementor-element-30e91d3 .elementor-nav-menu--dropdown .elementor-item,
.elementor-698 .elementor-element.elementor-element-30e91d3 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: "Poppins", Sans-serif;
	font-weight: 500;
}

.elementor-698 .elementor-element.elementor-element-30e91d3>.elementor-widget-container {
	margin: 0px -14px 0px 0px;
}

@media(max-width:1024px) {
	.elementor-698 .elementor-element.elementor-element-f98c02e {
		padding: 0px 40px 0px 40px;
	}

	.elementor-698 .elementor-element.elementor-element-30e91d3 .elementor-menu-toggle {
		font-size: 33px;
	}
}

@media(max-width:767px) {
	.elementor-698 .elementor-element.elementor-element-f98c02e {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 20px 0px 20px;
	}

	.elementor-698 .elementor-element.elementor-element-ab85fa2 {
		width: 40%;
	}

	.elementor-698 .elementor-element.elementor-element-c3dca84 {
		width: 60%;
	}

	.elementor-698 .elementor-element.elementor-element-c3dca84>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-698 .elementor-element.elementor-element-30e91d3 .elementor-menu-toggle {
		font-size: 25px;
	}
}

@media(min-width:768px) {
	.elementor-698 .elementor-element.elementor-element-ab85fa2 {
		width: 22%;
	}

	.elementor-698 .elementor-element.elementor-element-c3dca84 {
		width: 78%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-698 .elementor-element.elementor-element-ab85fa2 {
		width: 25%;
	}

	.elementor-698 .elementor-element.elementor-element-c3dca84 {
		width: 75%;
	}
}